html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #182420 #59a071;
}


body{
    margin: 0;
    background-color: #121814;
}


.header {
    width: 100%;
    height: 50px;
    background-color: #182420;
    align-items: center;
    margin-top: 0px;
}

.top-logo{
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 0px;
}

.logo{
    margin: 8 15 0 20;
    width: 35;
    height: 35;
    filter: invert(1000%);
    transition: transform 0.3s;
}

.logo:hover{
    transform: scale(1.25);
}

.top-text{
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.top1{
    position: relative;
    top: -3;
    color: white;
    font-family: "Noto Sans JP";
    font-weight: 450;
}

.btn0{
    width: 86px;
    height: 30px;
    cursor: default;
}

.btn1{
    margin-right: 10px;
    width: 54px;
    height: 30px;
    cursor: default;
}

.top2{
    position: relative;
    top: -13;
    color: white;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 450;
}

.line{
    display:flex;
    width: 2px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px;
}

.main_images{
    max-width: 100%;
    height: 75%;
}

.main_image{
    max-width: 100%;
    filter: brightness(75%);
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.main_title{
    font-family: "Noto Sans JP";
    letter-spacing: 2vw;
    font-weight: 800;
    color: white;
    font-size: 15vw;
    top: -47.5vw;
    position: relative;
    text-align: center;
    z-index: 2;
    transform: scale(0.95);
    transition: transform 0.5s;
}

@media screen and (max-width:786px){
    top: -23.75vw;
}

.main_title:hover{
    transform: scale(1);
}

.ti{
    color: transparent;
    background: linear-gradient(to top, rgb(209, 1, 1) 50%, white 50%) 100%;
    background-clip: text;
    background-size: 100% 200%;
    background-position: 0 0;
    transition: background-position 0.5s;
}

.ti:hover{
    background-position: 0 100%;
}

h1,
p,
li{
    color: white;
    cursor: default;
    font-family: "Noto Sans JP";
}

*::selection{
    background-color: transparent;
}

h1::selection,p::selection,li::selection{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

p[class="main_sentence"],
p,[class="text_box"]
li{
    font-weight: 150;
}

.gradient{
    position: absolute;
    top: 550px;
    width: 100%;
    height: 100px;
    background-color: white;
    background: linear-gradient(transparent, #121814, #121814);
    z-index: 1;
}


/*text animation*/

.top {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    border-bottom:ã€€2px;
}
  
a {
    position: relative;
}
  
a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #ffffff;
    bottom: 0px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.5s;
}
  
a:hover::after {
    transform: scale(1, 1);
    transform-origin: left top;
}

/*main texts*/

.main_texts{
    position: absolute;
    top: 650px;
    margin: 0 7.5vw;
    left: 10px;
}

.u{
    font-size: 25px;
    font-weight: 200;
    transition: font-weight 0.3s;
}

.u:hover{
    font-weight: 600;
}

.uga{
    color: transparent;
    background: linear-gradient(to right, rgb(255, 231, 97) 50%, white 50%) 100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.5s;
}

.uga:hover{
    background-position: 0 100%;
}


.big_title{
    font-size: 50px;
    transition: letter-spacing 0.5s;
}

.little_title{
    font-size: 35px;
    transition: letter-spacing 0.5s;
}

.big_title:hover,.little_title:hover{
    letter-spacing: 0.025em;
}

.main_sentence,
.text_box{
    font-size: 20px;
    margin-left: 10px;
    max-width: 80vw;
}

.main_sentence::selection{
    font-weight: 600;
}

.text_box{
    margin: 2em 2vw 2em 5vw;
    padding: 0.5em;
    border: 1px dashed white;
}

.main_sentence_line{
    width: 80vw;
    height: 2px;
    background-color: white;
    margin: 50px 0px;
}

/*credits*/

.credits{
    color: rgba(128, 128, 128, 0.2);
    position: absolute;
    top: 5000px;
    margin: 0 0 0 12.5vw;
    padding-bottom: 50px;
}

